{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>タスク管理</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'task/static/task/style.css' %}">
</head>
<body>
    <header>
        <h1>ログイン</h1>
    </header>
    <main>
      <form method="POST">
    {% csrf_token %}

    <div>
        <label>ユーザー名</label>
        {{ form.username }}

    </div>

    <div>
        <label>パスワード</label>
        {{ form.password }}

    </div>

    <button type="submit">ログイン</button>
      </form>
    </main>
</body>
</html>