/* base.html */



header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: beige;
}

.basetitle a {
    font-size: 30px;
    text-decoration: none;
    color: inherit;
}
.nav-bar ul {
    display: flex;
    gap: 30px;
    list-style: none; 
    font-size: 20px;
}


/*signin.html*/

.signin {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: slategrey;
}

#signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    margin: 0 auto;
    gap: 20px;
}
#signin-form input {
    width: 100%;
    box-sizing: border-box;
}

/*signup.html*/

.signup {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: slategrey;
}

#signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    margin: 0 auto;
    gap: 20px;
}
#signup-form input {
    width: 100%;
    box-sizing: border-box;
}